<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1 id="pageTitle"></h1>
	<input type="text" name="pageURL" id="pageURL" value="" />
	<canvas id="screenCanvas" width="1024" height="768"></canvas>
	<button id="reloadBtn">Reload</button>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io();
		var taskId = '<%= taskId %>';
		var desktopImage = new Image();
		var url;
		var ctx = screenCanvas.getContext("2d");

		desktopImage.onload = function () {
		    ctx.drawImage(desktopImage, 0, 0);
		    (URL || webkitURL).revokeObjectURL(url);  // release memory
		}

		reloadBtn.addEventListener("click", function(event) {
			event.preventDefault();
			socket.emit('Reload', {taskId: taskId});
		})

		screenCanvas.addEventListener("mousemove", function(event) {
			event.preventDefault();
			socket.emit('Mouse', {cmd: 'move', x: event.offsetX, y: event.offsetY });
		})

		screenCanvas.addEventListener("mousedown", function(event) {
			event.preventDefault();
		 	switch (event.which) {
		        case 1:
		        	key = 'left';
		            break;
		        case 2:
		        	key = 'middle';
		            break;
		        case 3:
		            key = 'right';
		            break;
		        default:
		        	key = 'left';
		    }			
			socket.emit('Mouse', {cmd: 'down', x: event.offsetX, y: event.offsetY, button: key });
		})

		pageURL.addEventListener("keypress", function(event) {
			if (event.which == 13) {
				socket.emit("SetURL", pageURL.value);
			}
		})
		// screenCanvas.addEventListener("mouseup", function(event) {
		// 	event.preventDefault();
		// 	socket.emit('Mouse', {cmd: 'up', x: event.offsetX, y: event.offsetY });
		// })

		screenCanvas.addEventListener("click", function(event) {
			event.preventDefault();
			socket.emit('Mouse', {cmd: 'click', x: event.offsetX * 1.0, y: event.offsetY * 1.0});
		})

		screenCanvas.addEventListener("keypress", function(event) {
			event.preventDefault();
			socket.emit('Keypress', {cmd: 'type', which: event.which });
		})

		socket.emit('CreateSession', {taskId: taskId})
		socket.emit('Meta');

		// socket.on('connection', function(socket){
		//   console.log('a user connected');
		//   socket.on('disconnect', function(){
		//     console.log('user disconnected');
		//   });
		// });
		// 
		socket.on('FrameChange', function(buf) {
			var blob = new Blob([buf], {type: "image/jpeg"});
		    url = (URL || webkitURL).createObjectURL(blob);
		    desktopImage.src = url;
		});

		socket.on('MetaChange', function(meta) {
			if (meta.title) {
				pageTitle.innerText = meta.title;
			}

			if (meta.url) {
				pageURL.value = meta.url;
			}
		});

		socket.on('disconnect', function () {
	    	console.log('you have been disconnected');
		});

		socket.on('reconnect', function () {
			console.log('you have been reconnected');
			// if (username) {
			// 	socket.emit('add user', username);
			// }
		});

		socket.on('reconnect_error', function () {
			console.log('attempt to reconnect has failed');
		});
	</script>
</body>
</html>